// Button pesticide
button, html [type="button"], [type="reset"], [type="submit"],
button:focus, html [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus {
  outline: none;
}

// img Button

.btn-img {
  width: 1rem * $line-height-sm;
  vertical-align: top;
  margin-right: map-get($spacers, 2);

}
